#main {
    color: $black;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    .quick-link{
        background-color: $white;
        padding: 30px 0;
        margin: 0 0 3px;
        position: relative;
        font-size: 1.2em;

        .red-line{
            height: 3px;
            width: 32px;
            left: 0;
            bottom: 0;
            background-color: #e5131d;
            display: table;
        }

        p{
            text-transform: uppercase;
            margin-top: 12px;
            margin-bottom: 0;
            height: 40px;
            line-height: 40px;
            font-family: RobotoCondensed-Light;
            letter-spacing: .02em;
        }
        a{
            color: $black;
            width: 64px;
            height: 64px;
            min-height: 64px;
            text-align: center;
            padding: 0 0 0 30px;
            font-family: RobotoCondensed;
            &:hover{
                color: $red;
            }
            i{
                width: 64px;
                height: 64px;
                line-height: 64px;
                border: solid 1px #c5c5c5;
                border-radius: 50%;
                display: inline-block;
                &:hover{
                    width: 64px;
                    height: 64px;
                    line-height: 64px;
                    border: solid 1px $red;
                    border-radius: 50%;
                    display: inline-block;
                    color: $red;
                }
            }
            .test-name{
                font-size: 16px;
                letter-spacing: .02em;
            }
        }
    }

    .next-section {
        border: solid 1px $white;
    }
}