#plugins {
    ul {
        margin-top: 24px;
        padding-left: 20px;

        li {
            margin-bottom: 8px;
        }
    }
    
    .next-section {
        border: solid 1px $black;
    }
}