#slider {
  picture{
    //@media (min-width: 1200px) {
    //  padding: 0 0 35.9%;
    //}
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slick-initialized{
    margin: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-in;
    position: relative;

    .arrow-prev{
      left: 20px;
      right: initial;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        bottom: initial;
        z-index: 1;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        border: solid 1px $white;
        background-color: transparent;
        font-size: 1.6em;
        border-radius: 100%;
        opacity: .8;
        transform: translate(0, -50%);
        transition: all .3s linear;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      }
    }
    .arrow-next{
      left: initial;
      right: 20px;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        bottom: initial;
        z-index: 1;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        border: solid 1px $white;
        background-color: transparent;
        font-size: 1.6em;
        border-radius: 100%;
        opacity: .8;
        transform: translate(0, -50%);
        transition: all .3s linear;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      }
    }

    .slick-slide{
      outline: 0;
      font-size: 0;
      text-indent: -9999em;
    }
  }
  .slider{
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, -50%);
  }

  .caption{
    position: absolute;
    color: $white;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% * 5/12);
    font-size: initial;
    letter-spacing: .02em;

    h3{
      font-family: RobotoCondensed-Bold;
      font-size: 3em;
      margin: 0 0 20px;
    }

    p{
      font-size: 1.2em;
      margin-bottom: 30px;
      font-family: RobotoCondensed-Light;
    }

    a{
      display: inline-block;
      height: 44px;
      line-height: 44px;
      color: $white;
      background-color: $red;
      padding:  0 48px 0 24px;
      position: relative;
      font-family: RobotoSlab-Bold;

      i{
        font-size: 70%;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}