<section id="images">
    <div class="container">
        <h2>Images</h2>
        <div class="row">
            <div class="col-xs-12">
                <pre>&lt;picture&gt;
    &lt;source media="(max-width: 360px)" srcset="path/to/images/mobile.jpg"&gt;
    &lt;source media="(max-width: 767px)" srcset="path/to/images/tablet.jpg"&gt;
    &lt;img src="path/to/images/desktop.jpg" alt="" &gt;
&lt;/picture&gt;</pre>
                <br>
                <picture>
                    <source media="(max-width: 767px)" srcset="assets/images/001_m.jpg">
                    <img src="assets/images/001.jpg" alt="" class="img-responsive">
                </picture>
            </div>
        </div>
    </div>
    <a href="#naming" class="next-section" title=""></a>
</section>