<section id="main">
    <div class="quick-link">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <p>Link Langsung</p>
                    <span class="red-line"></span>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href=""><i class="fa fa-money"></i>
                        <span class="test-name">Isi Pulsa</span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href=""><i class="fa fa-files-o"></i>
                        <span class="test-name">Pilih Paket</span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href=""><i class="fa fa-heart-o"></i>
                        <span class="test-name">Telkomsel Poin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="#structure" class="next-section" title=""></a>-->
</section>