<section id="naming">
    <div class="container">
        <h2>Class Naming</h2>
        <div class="row">
            <div class="col-xs-12">
                <a href="javascript:void(0)" class="cta cta-ghost">button</a>
                <a href="javascript:void(0)" class="cta cta-ghost ghost-invert">button</a>
                <a href="javascript:void(0)" class="cta cta-ghost ghost-alt">button</a>
                <pre>&lt;a href="javascript:void(0)" class="cta cta-ghost"&gtbutton&lt;/a&gt
&lt;a href="javascript:void(0)" class="cta cta-ghost ghost-invert"&gtbutton&lt;/a&gt
&lt;a href="javascript:void(0)" class="cta cta-ghost ghost-alt"&gtbutton&lt;/a&gt</pre>
                <br>
                <a href="javascript:void(0)" class="cta cta-solid">button</a>
                <a href="javascript:void(0)" class="cta cta-solid solid-invert">button</a>
                <a href="javascript:void(0)" class="cta cta-solid solid-alt">button</a>
                <pre>&lt;a href="javascript:void(0)" class="cta cta-solid"&gtbutton&lt;/a&gt
&lt;a href="javascript:void(0)" class="cta cta-solid solid-invert"&gtbutton&lt;/a&gt
&lt;a href="javascript:void(0)" class="cta cta-solid solid-alt"&gtbutton&lt;/a&gt</pre>
            </div>
        </div>
    </div>
    <a href="#plugins" class="next-section" title=""></a>
</section>