<section id="plugins">
    <div class="container">
        <h2>List Plugins</h2>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        Bootstrap 3.37 (framework)
                    </li>
                    <li>
                        SASS (css generator)
                    </li>
                    <li>
                        Slick Carousel (slider)
                    </li>
                    <li>
                        JFC (form)
                    </li>
                    <li>
                        Font Awesome 4.7 (font icon)
                    </li>
                    <li>
                        Flaticon (font icon)
                    </li>
                    <li>
                        JQuery Validation (form validation)
                    </li>
                    <li>
                        PLYR (video player)
                    </li>
                    <li>
                        Type Rendering Mix (font rendering)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <a href="#plugins" class="next-section" title=""></a> -->
</section>