<section id="slider" class="carousel slide" data-ride="carousel">
    <div class="slick-initialized slick-slider" role="toolbar" style="display: block">
        <button type="button" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block">
            <!--<i class="fa fa-angle-left"></i>-->
        </button>
        <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>

        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 12141px;" role="listbox">
                <div class="slider slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1349px" tabindex="-1" role="option">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="assets/images/slider/slider1.jpg">
                        <img class="first-slide img-responsive" src="assets/images/slider/slider1.jpg" alt="First slide">
                    </picture>
                    <div class="container">
                        <div class="caption">
                            <h3 class="fadeInUp">#PastiBestDeal MyTelkomsel</h3>
                            <p class="fadeInUp">#PastiBestDeal menawarkan paket data yang lebih murah dan dapat digunakan 24 jam di semua jaringan. Aktifkan sekarang, hanya di MyTelkomsel!</p>
                            <a href="" title="Cek Sekarang">Cek Sekarang<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slider slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1349px" tabindex="-1" role="option">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="assets/images/slider/slider2.jpg">
                        <img class="second-slide img-responsive" src="assets/images/slider/slider2.jpg" alt="Second slide">
                    </picture>
                    <div class="container">
                        <div class="caption">
                            <h3 class="fadeInUp">#PastiBestDeal MyTelkomsel</h3>
                            <p class="fadeInUp">#PastiBestDeal menawarkan paket data yang lebih murah dan dapat digunakan 24 jam di semua jaringan. Aktifkan sekarang, hanya di MyTelkomsel!</p>
                            <a href="" title="Cek Sekarang">Cek Sekarang<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block">
            <!--<i class="fa fa-angle-right"></i>-->
        </button>
    </div>
</section>