<section id="structure">
    <div class="container">
        <h2>Main Structure</h2>
        <div class="row">
            <div class="col-xs-12">
                <pre>&lt;!DOCTYPE html&gt;
&lt;html class="no-js" lang="en"&gt;

&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;title&gt;Page Title&lt;/title&gt;

    &lt;link href="path/to/css/main.css" rel="stylesheet"&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;h1 class="hidden-heading"&gt;
        Main Title (same as meta title)
    &lt;/h1&gt;
    &lt;header id="site-header"&gt;
        Header
    &lt;/header&gt;

    &lt;main id="site-container"&gt;
        Main Content
    &lt;/main&gt;

    &lt;footer id="site-footer"&gt;
        Footer
    &lt;/footer&gt;
    &lt;script src="path/to/js/app.min.js" &gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
            </div>
        </div>
    </div>
    <a href="#widgeting" class="next-section" title=""></a>
</section>