<section id="widgeting">
    <div class="container">
        <h2>Widgets</h2>
        <div class="row">
            <div class="col-xs-12">
                <pre>&#64;&#64;include('../Shared/header.html')

&#64;&#64;include('../Widgets/widgets001.html')
&#64;&#64;include('../Widgets/widgets002.html')
&#64;&#64;include('../Widgets/widgets003.html')
&#64;&#64;include('../Widgets/widgets004.html')
&#64;&#64;include('../Widgets/widgets005.html')

&#64;&#64;include('../Shared/footer.html')</pre>
                <br>
                <pre>&lt;section&gt;
    &lt;h2&gt;
        Widget Title
    &lt;/h2&gt;

    &lt;div class="container"&gt;
        Widget Content
    &lt;/div&gt;
&lt;/section&gt;</pre>
            </div>
        </div>
    </div>
    <a href="#images" class="next-section" title=""></a>
</section>