body,
html {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    font-family: 'RobotoCondensed';
    color: $black;
    font-size: 1rem;
    letter-spacing: .15rem;
}

a,
button {
    -webkit-transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

#site-container {
    //padding: 144px 0 0;
    //min-height: calc(100vh - 432px);

    section {
        //position: relative;
        background-color:   #f8f8f8;

        h2 {
            font-family: 'RobotoSlab-Light';
            letter-spacing: .02em;
            //margin-bottom: 24px;
        }
    }
}