#site-footer {
    background-color: $black;
    color: $bluegreylighter;
    padding: 10px 0;
    position: relative;

    .foot-top{
        margin: 0;
        padding: 8px 0 20px 0;
        border-bottom: 1px solid #344960;

        a{
            color: $bluegreylighter;
            font-family: RobotoSlab-Thin;
            font-size: .8em;
            letter-spacing: .02em;
            //border-bottom: solid 1px red;

            &:hover{
                color: $white;
            }
        }

        >.col-md-4{
            padding: 0 40px 0 0;
        }
        >.col-md-8{
            padding: 0;
        }
        .row{
            margin: 0;
        }
        .logo-area{
            margin: 0 0 20px;

            a{
                display: inline-block;
                font-size: 0;
                text-indent: -6666em;
            }

            img{
                width: 220px;
                height: auto;max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .desc-area{
            margin: 0 0 20px;
            text-align: left;
            font-family: RobotoCondensed-Light;
            font-size: 14px;
            letter-spacing: .02em;
        }
        .icon-bar{
            display: block;
            margin: 0;

            li{
                padding: 5px;
                display: block;
                float: left;
                width: 132px;

                a{
                    display: block;
                    font-size: 0;
                    text-indent: -6666em;

                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        nav.nav-group{
            padding: 0;
        }
        .list{
            position: relative;
            display: block;
            padding: 10px 0;
            color: $bluegreylighter;
            border-bottom: solid 1px #344960;

            &:hover{
                color: $white;
            }
        }
        nav,
        label{
            margin: 0 0 16px;
            padding: 0 10px;
            border-bottom: 0;
            color: $white;
            font-weight: normal;
            position: relative;
            font-family: RobotoSlab-Regular;
            letter-spacing: .02em;
            display: block;
        }
    }

    .foot-bottom{
        color: $bluegreylighter;
        line-height: 48px;
        padding: 10px 0 4px;
        margin: 0;
        font-family: RobotoSlab-Thin;

        .fum{
            letter-spacing: .02em;
            margin: 0 8px 0 0;
            padding: 0 35px;
        }

        p{
            line-height: 180%;
            font-size: 14px;
            letter-spacing: .02em;
        }

        a{
            color: $bluegreylighter;
            text-decoration: underline;
            font-size: 14px;
            margin: 0 8px 0 0;
        }
    }
}