#site-header {
  position: relative;
  background-color: $white;
  left: 0;
  right: 0;
  bottom: initial;
  height: auto;
  z-index: 1001;
  //max-height: 144px;
  transition: all .3s linear;

  .top-nav{
    height: 32px;
    line-height: 32px;
    border-bottom: solid 1px #c5c5c5;

    a {
      height: 32px;
      line-height: 32px;
      font-size: 11px;
      letter-spacing: .02em;
      text-transform: uppercase;
      color: #777777;
      font-family: "HelveticaNeue-Light", sans-serif;
    }

    .navbar-left{
      float: left;
      a {
        margin-right: 15px;
        display: inline-block;
        &.active{
          color: $black;
          font-weight: bold;
          border-bottom: solid 1px #e5131d;
        }
        &:hover {
          border-bottom: solid 1px #e5131d;
        }
      }
    }

    .navbar-right{
      float: right;

      .lang{
        margin-left: 24px;
        float: right;

        a{
          width: 16px;
          text-align: center;
          position: relative;
          margin-right: 10px;

          &:last-child{
            border-left: 1px;

            &:before{
              content: '';
              width: 1px;
              height: 12px;
              background-color: #5e5e5e;
              position: absolute;
              left: -8px;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  .bottom-nav{
    padding: 24px 0 0;
    transition: all .3s linear;

    nav{
      height: 64px;
      line-height: 64px;
      margin-top: 24px;

      ul{
        height: 64px;
        margin-bottom: 0;

        li{
          margin-right: 12px;
          margin-bottom: 0;
          border: 0;
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;

          a{
            color: $black;
            font-size: 16px;
            font-weight: bold;
            font-family: "Helvetica Bold", sans-serif;
            letter-spacing: .02em;
            border-bottom: solid 4px transparent;
            display: block;
            height: 64px;
            i{
              vertical-align: middle;
            }
            &:hover{
              color: $red;
              border-bottom: solid 4px $red;
            }
          }

          .dropdown-menu{
            top: 142px;
            left: 0;
            position: fixed;
            background: $white;
            width: 100%;
            padding: 0;
            border-top: solid 1px #e5131d;
            transition: all .3s linear;

            .dropnav-info{
              color: $black;
              padding-top: 24px;
              line-height: 1.1;
              letter-spacing: .02em;
              h2{
                margin: 0 0 12px;
                font-family: "RobotoSlab-Thin";
              }
              p{
                margin: 0;
                padding: 0;
                font-family: "RobotoSlab-Light";
                font-size: 1em;
              }
              a{
                padding: 12px 0 0;
                i{
                  width: 24px;
                  height: 24px;
                  border: solid 1px;
                  border-radius: 50%;
                  padding-left: 8px;
                  display: inline-block;
                }
                &:hover{
                  color: #777777;
                  border-bottom: transparent;
                }
              }
            }

            .main-nav {
              background-color: #f1f1f1;
              min-height: 180px;

              a {
                //padding: 0;
                color: $white;
                display: block;
                position: relative;
                min-height: 180px;

                img {
                  width: 100%;
                  height: 180px;
                  background-position: center center;
                  background-size: cover;
                  background-color: #9ca4ac;
                }
                &:hover{
                  border-bottom: transparent;
                }

                h6{
                  width: 100%;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  text-align: center;
                  line-height: 1.1;
                  bottom: auto;
                }

                p {
                  position: absolute;
                  left: 0;
                  bottom: -25px;
                  padding: 12px;
                  margin: 0;
                  font-family: "RobotoSlab-Thin";
                  font-size: 0.6em;
                  text-align: left;
                }
              }

              .dropnav-list{
                background-color: #f1f1f1;
                padding: 24px 16px 16px;

                dl{
                  padding: 0 12px;
                  dt{
                    padding: 6px 0 8px 5px;
                    margin-bottom: 12px;
                    border-bottom: solid 1px #c5c5c5;
                    position: relative;

                    span{
                      color: $bluegreydarker;
                      font-family: "RobotoSlab-Bold";
                      font-size: 16px;
                      letter-spacing: .03em;
                    }
                  }
                  dd{
                    height: 27px;
                    a{
                      display: block;
                      height: 27px;
                      padding: 4px 0 4px 24px;
                      color: $bluegreydarker;
                      font-family: "RobotoSlab-Thin";
                      font-size: 14px;
                      &:hover{
                        color: $grey;
                      }
                      i{
                        vertical-align: middle;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .main-menu{
      padding-left: 0;
      padding-right: 0;

      .search-cont{
        margin-bottom: 0;
        a{
          vertical-align: middle;
          i{
            color: $black;
          }
        }
      }
    }
  }

  .logo{
    position: relative;
    float: left;
    img{
      max-height: 80px;
      height: 80px;
      transition: all .3s linear;
    }
  }

  .sticky{
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    right: 0;
    bottom: initial;
    padding: 14px 0 0;
    height: 144px;
    z-index: 1001;
  }
}