.fixed-side-navbar {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    li {
        a {
            padding: 0 0 0 20px;
            height: 56px;
            width: 56px;
            text-align: center;
            line-height: 56px;
            color: $lightblue;
            font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 28px 56px 28px 0;
                border-color: transparent $lightblue transparent transparent;
                position: absolute;
                right: -100%;
                top: 0;
                transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
                z-index: -1;
            }

            &:hover {
                background-color: transparent;
                color: $white;

                &:after {
                	right: 0;
                }
            }
            &:focus {
            	background-color: transparent;
            }
        }

        &.active {
        	a {
        		background-color: transparent;
                color: $white;
                font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;

                &:after {
                	right: 0;
                }
        	}
        }
    }
}