// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica, Arial, sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
//$font_family: (
//    JosefinSans-Bold: 'fonts/JosefinSans-Bold',
//    JosefinSans-Italic: 'fonts/JosefinSans-Italic',
//    JosefinSans-Light: 'fonts/JosefinSans-Light',
//    JosefinSans-Regular: 'fonts/JosefinSans-Regular',
//    JosefinSans-SemiBold: 'fonts/JosefinSans-SemiBold',
//    JosefinSans-Thin: 'fonts/JosefinSans-Thin',
//
//    JosefinSlab-Bold: 'fonts/JosefinSlab-Bold',
//    JosefinSlab-Italic: 'fonts/JosefinSlab-Italic',
//    JosefinSlab-Light: 'fonts/JosefinSlab-Light',
//    JosefinSlab-Regular: 'fonts/JosefinSlab-Regular',
//    JosefinSlab-SemiBold: 'fonts/JosefinSlab-SemiBold',
//    JosefinSlab-Thin: 'fonts/JosefinSlab-Thin'
//);

$font_family: (
        RobotoCondensed: 'fonts/Roboto/RobotoCondensed',
        RobotoCondensed-Bold: 'fonts/Roboto/RobotoCondensed-Bold',
        RobotoCondensed-Light: 'fonts/Roboto/RobotoCondensed-Light',
        RobotoCondensed-Regular: 'fonts/Roboto/RobotoCondensed-Regular',

        RobotoSlab-Bold: 'fonts/Roboto/RobotoSlab-Bold',
        RobotoSlab-Light: 'fonts/Roboto/RobotoSlab-Light',
        RobotoSlab-Regular: 'fonts/Roboto/RobotoSlab-Regular',
        RobotoSlab-Thin: 'fonts/Roboto/RobotoSlab-Thin',
);

//COLORS
$white: #ffffff;
$fade: #f8f9fa;
$black: #212121;
$grey: #BDBDBD;
$shadow: #dddddd;
$darkgrey: #757575;
$navy: #020288;
$lightblue: #03A9F4;
$bluegrey: #607D8B;
$bluegreylighter: #CFD8DC;
$bluegreydarker: #455A64;
$red: #d1180b;
$pink: #FF89D0;
$light_purple: #8D8DDE;

$colors: (
    white: #ffffff,
    fade: #f8f9fa,
    black: #212121,
    grey: #BDBDBD,
    shadow: #dddddd,
    darkgrey: #757575,
    navy: #020288,
    lightblue: #03A9F4,
    bluegrey: #607D8B,
    bluegreylighter: #CFD8DC,
    bluegreydarker: #455A64,
    red: #d1180b,
    pink: #ff89d0,
    purple: #8D8DDE,
);

// BUTTONS
//Default Button Ex. (button-class, background-code, font-color)
$buttons:
     ('btn-red', #D9534F, #FFFFFF),
     ('btn-blue', #337AB7, #FFFFFF),
     ('btn-green', #5CB85C, #FFFFFF);

// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query:
    (laptop, (min-width: 1366px)),
    (desktop, (min-width: 1200px)),
    (wide, (min-width: 992px)),
    (tablet, (min-width: 768px) and (max-width: 991px)),
    (mobile, (max-width: 767px)),
    (small-mobile, (max-width: 360px));
