
        </main>
        <!-- CONTAINER -->

        <!-- FOOTER -->
        <footer id="site-footer">
            <div class="container">
                <div class="row row-5 foot-top">
                    <div class="col-md-4">
                            <div class="logo-area">
                                    <a href=""><img src="assets/images/logo-telkomsel@2x.png"></a>
                            </div>
                            <div class="desc-area">
                                    <p>Nikmati berbagai kemudahan dengan download Apps MyTelkomsel</p>
                            </div>
                            <ul class="icon-bar row">
                                    <li><a><img src="assets/images/logo-googleplay.png"></a></li>
                                    <li><a><img src="assets/images/logo-appstore.png"></a></li>
                            </ul>
                    </div>
                    <div class="col-md-8">
                        <nav class="row row-10">
                            <div class="nav-group col-md-3">
                                <label>Belanja</label>
                                <!--<div class="inner">-->
                                    <div class="row">
                                        <div class="list col-md-12">
                                            <a href="" title="kartuHalo">kartuHalo</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="simPATI">simPATI</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="KARTU As">KARTU As</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="Loop">Loop</a>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="" title="Internet">Internet</a>
                                        </div>
                                    </div>
                                <!--</div>-->
                            </div>
                            <div class="nav-group col-md-3">
                                <label>Jelajah</label>
                                <div class="inner">
                                    <div class="row">
                                        <div class="list col-md-12">
                                            <a href="" title="Video">Video</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="Musik">Musik</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="Games">Games</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="TCASH">TCASH</a>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="" title="Telkomsel POIN">Telkomsel POIN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-group col-md-3">
                                <label>Promosi</label>
                                <div class="inner">
                                    <div class="row">
                                        <div class="list col-md-12">
                                            <a href="" title="kartuHalo">Transfer Pulsa</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="Paket TAU">Paket TAU</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="Halo Kick!">Halo Kick!</a>
                                        </div>
                                        <div class="list col-md-12">
                                            <a href="" title="simPATI Combo">simPATI Combo</a>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="" title="Hot Promo">Hot Promo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-group col-md-3">
                                <label>Bantuan</label>
                                <div class="inner">
                                    <div class="row">
                                        <div class="list col-md-12">
                                            <a href="" title="Veronika">Veronika</a>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="" title="graPARI">graPARI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row row-5 foot-bottom">
                    <div class="col-md-6 pull-right text-right">
                        <span class="fum">Follow Us</span>
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-youtube fa-lg"></i></a>
                        <a href=""><i class="fa fa-instagram fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href=""><i class="fa fa-telegram fa-lg"></i></a>
                    </div>
                    <div class="col-md-6 pull-left">
                        <p><i class="fa fa-copyright"></i>
                            PT Telekomunikasi Selular, 2018. &nbsp;
                            <a href="">Privacy Policy</a>
                            <a href="">Terms of service</a>
                            <a href="">Contact us</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/vendor.min.js" ></script>
        <script src="assets/js/plugins.min.js" ></script>
        <script src="assets/js/app.min.js" ></script>
        <script src="./slick/slick.min.js" type="text/javascript" charset="utf-8"></script>

        <!-- @@if (context.script) {
            @@for(var i=0;i<script.length;i++) {
                <script src="`+script[i]+`" ></script>
            }
        } -->

    </body>
</html>